body{
  margin: 0px;
  padding:0px;


}

li{
 
  text-align: center;
}

.myFiles{
  width: 30%;
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  padding:20px;
  background-color: #f0f0f0;

}

button{
  float: right;
  padding: 5px 10px;
}